@font-face {
    font-family: 'felix007';
    src: url('../font/felix007/fonts/felix007-medium-webfont.eot') format('embedded-opentype');
    src: url('../font/felix007/fonts/felix007-medium-webfont.ttf') format('truetype');
}

body {
    direction: rtl;
    background-color: papayawhip;
}

.notActive {
    cursor: not-allowed;
    color: gray;
}

ul.breadcrumb {
    padding: 0px 0px 0px 0px;
    list-style: none;
    background-color: peachpuff;
}

    ul.breadcrumb li {
        display: inline;
        font-size: 18px;
        direction: rtl;
    }

        ul.breadcrumb li + li:before {
            padding: 0px;
            color: black;
            content: "/\00a0";
        }

        ul.breadcrumb li a {
            color: black;
            text-decoration: none;
        }

            ul.breadcrumb li a:hover {
                background-color: peachpuff;
                color: black;
                text-decoration: underline;
            }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: papayawhip;
}

li {
    float: right;
    margin: 3px;
    font-family: felix007;
    font-size: larger;
}

    li a, .dropbtn {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 70px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: white;
            text-decoration: underline;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: felix007;
}

    .dropdown-content a {
        color: black;
        padding: 20px 20px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.noPaddingLogo {
    padding-top: 0px;
    padding-bottom: 0px;
}

#logo {
    height: 45px;
    object-fit: contain;
    display: table;
}

.footerUl {
    background-color: white;
}

    .footerUl li a, .footerUl li div, .footerUl li div a {
        background-color: white;
    }

        .footerUl li a, .footerUl li div, .footerUl li div a {
            background-color: white;
        }

            .footerUl li a:hover, .footerUl li div:hover, .footerUl li div a:hover {
                background-color: papayawhip;
            }

.footer {
    position: relative;
    height: 350px;
    background-image: url('../pictures/רקע פוטר.jpg');
    text-align: center;
}

.footerElevator {
    transform: translateY(-75px);
}

#footerLogo {
    width: 150px;
    height: 150px;
    position: relative;
    padding: unset;
}

#textFooter {
    font-family: felix007;
    font-size: x-large;
}

.footerIcons {
    display: table;
    clear: both;
    padding-right: 525px;
}

.icon {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 10px;
    float: right;
}


.headerImg {
    background-image: url('../pics/top-view-of-fresh-coffee-beans-on-white-background-with-copy-space-free-photo.jpg');
    height: 80%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#headertaglin {
    text-align: center;
    font-family: felix007;
    font-size: 48px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: saddlebrown;
}

#road {
    padding-top: 450px;
    width: 100%;
}

table {
    font-family: 'felix007';
    border-collapse: collapse;
    width: 98%;
    margin-right: 1%;
    border: 3px solid saddlebrown;
}

th {
    font-size: 24px;
    text-align: right;
    padding: 16px;
}

td {
    text-align: right;
    padding: 16px;
    font-size: 20px;
}

.maplink {
    color: black;
}
